{{ define "main" }}
    <main aria-role="main">
        <div>
            .Pages:
            <ul>
                {{- $paginatorP := .Paginate (.Pages) }}
                {{- range $paginatorP.Pages }}
                    <li>
                        {{- .Permalink }}
                        {{- .Title }}
                    </li>
                {{- end }}
            </ul>
            .Site.RegularPages:
            <ul>
                {{- $paginator := .Paginate (.Site.RegularPages) }}
                {{- range $paginator.Pages }}
                    <li>
                        {{- .Permalink }}
                        {{- .Title }}
                    </li>
                {{- end }}
            </ul>
        </div>
    </main>
{{ end }}
